.chatbox_container {    
    height: 400px;
    width: 300px;
    border: 1px solid #BA68C8;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    display: flex;
    flex-direction: column;    
}

.chatbox_header_container {
    display: flex;
    flex: 0.15;
    height: 100px;
    width: 100%;
    background-color: #BA68C8;
    border-radius: 7px 7px 0 0;
    -webkit-border-radius: 7px 7px 0 0;
    -moz-border-radius: 7px 7px 0 0;
    -ms-border-radius: 7px 7px 0 0;
    -o-border-radius: 7px 7px 0 0;
}



.chatbox_avatar_container{
    flex: 0.2;
    display: flex;
    justify-content: center;
    align-items: center;
}
.chatbox_avatar_header{    
    color: white;
    font-size: 2.3em;
}

.chatbox_state_user_container{
    margin: 0;
    flex: 0.8;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.chatbox_title_container{    
    width: 100%;
}

.chatbox_title{
    color: var(--colorText_b);
}
.chatbox_state_container{
    width: 100%;
    display: flex;
    align-items: center;
    flex: 0.01;
    
}

.chatbox_state{
    padding-left: 5px;
    font-size: 0.9em;
    flex: 0.99;
    color: var(--colorText_b);
}

.chatbox_circle_state{
    height: 13px;
    width: 13px;
    border: 1px solid white;
    border-radius: 50%;
    background-color: #81C784;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.chatbox_body_container {    
    flex: 0.75;
    width: 100%;
    background-color: white;    
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    overflow-y: scroll; 
    
}

.chatbox_avatar_messaje_user{    
    width: 100%;
    display: flex;
    flex-direction: column;   
    max-height: 100%;
}

.chatbox_text_container{        
    width: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    padding: 4px 0;
    
}

.chatbox_avatar_msj_container{
    width: max-content;    
    display: flex;   
    justify-content: center;
    align-items: center;    
    
}

.chatbox_avatar{
    font-size: 1.5em;
}


.chatbox_avatar_msj{
    font-size: 1.8em;
    color: #BA68C8;
}



.chatbox_text_admin_container{
    display: none;    
}

.chatbox_body_container::-webkit-scrollbar {
    width: 5px;
}

.chatbox_body_container::-webkit-scrollbar-thumb {
    background-color: #BA68C8;
    border-radius: 2.5px;
}

.chatbox_body_container::-webkit-scrollbar-track {
    background-color: var(--bgScrollbar);
}



.chatbox_msj {    
    max-width: max-content;
    word-wrap: break-word;    
    white-space: pre-wrap;    
    background-color: rgb(238, 235, 237);
    border-radius: 5px;    
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    color: var(--colorText_a);
    font-weight: 400;
    padding: 0 10px;
    font-size: 0.9em;
    margin-left: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25px;
}


.chatbox_messaje_write_container {
    border-top: 2px solid rgb(230, 230, 230);
    flex: 0.1;
    width: 100%;
    display: flex;
}

.chatbox_messaje_input_user_container {
    padding: 0;
    margin: 0; 
    flex: 0.8;      
    border-radius: 0 0 0 10px;
    -webkit-border-radius: 0 0 0 10px;
    -moz-border-radius: 0 0 0 10px;
    -ms-border-radius: 0 0 0 10px;
    -o-border-radius: 0 0 0 10px;

}
.chatbox_messaje_input_user_messaje{
    padding: 0 12px;
    border-radius: 0 0 0 10px;
    border: none;
    max-width: 100%;
    -webkit-border-radius: 0 0 0 10px;
    -moz-border-radius: 0 0 0 10px;
    -ms-border-radius: 0 0 0 10px;
    -o-border-radius: 0 0 0 10px;
}

.chatbox_icon_send_container {
    flex: 0.2;    
    display: flex;
    justify-content: center;
    align-items: center;
}

.button_send_messaje {
    font-size: 1.5em;
}

/* */