
.card_contact_container{
    padding: 10px;
    width: 100%;
    height: max-content;
    
    margin-top: 10px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    box-shadow: 0px 0px 5px 0px rgb(198, 198, 198);
    position: relative;
    cursor: pointer;

    background-image: url('/bg_card_contact.svg');
    background-repeat: no-repeat;
    background-size: cover;
    
        
}
.card_contact_container:hover{
    transform: scale(1.01);
    -webkit-transform: scale(1.01);
    -moz-transform: scale(1.01);
    -ms-transform: scale(1.01);
    -o-transform: scale(1.01);
    cursor: pointer;
}



.card_contact_email{
    font-size: 0.9em;
    color: var(--colorText_f);
    
}
.card_contact_phone{
    font-size: 0.9em;    
}

.card_contact_actions{
    display: flex;
    position: absolute;
    gap: 5px;
    right: 10px;
    bottom: 10px;
}




.servicios{
    background-color: var(--bgColorBoxService);
    color: var(--colorText_b);
    font-size: 0.9em;
}

.administrador{
    background-color: var(--bgColorBoxAdmin);
    color: var(--colorText_b);
    font-size: 0.9em;
}

.cliente{
    background-color: var(--bgColorBoxCustomer);
    color: var(--colorText_a);
    font-size: 0.9em;
}

.provedor{
    background-color: var(--bgColorSupplier);
    color: var(--colorText_b);
    font-size: 0.9em;
}

.card_contact_button_edit{
    font-size: 1.5em;
    
}

.card_contact_button_delete{
    font-size: 1.5em;
    
}

.card_contact_name{
    font-size: 1.2em;
    font-weight: 500;

}

